.post header {
    .horizontal-bar(@dark-shadow);

    margin-bottom: @block-margin;
    position: relative;

    .content {
        .container;
    }

    &::after {
        bottom: 0;
        top: inherit;
    }

    .post-title {
        font-size: 36px;
        margin: 0;
    }

    .post-description {
        margin-bottom: 0;
        color: darken(white, 20%);
    }
}
