/**
 * This less file contains all the styling for code snippets.
 */

@import '_colors';
@import '_util';
@import '_vars';

.highlight {
    .horizontal-bar(@dark-shadow);
    margin-bottom: @block-margin;
    margin-top: @block-margin;
    // width: 90%;

    pre {
        .container;
        .chinese-character('碼', @contrast);
        color: white;

        .k {
            color: @contrast;
        }

        .s {
            color: @light-contrast;
        }

        .cm {

        }
    }
}
