/**
 * This less file contains the colors used in the site.
 */

@dark: #2c2c2c;
@dark-shadow: lighten(black, 10%);
@contrast: #ff0000;
@light-contrast: #ff9898;

// code colors
@keyword-color: #ba2c2c;
@regular-text: #fff;
@comment-color: #aaa;
