/** Styles for the site footer */
@import '_colors';
@import '_util';
@import '_vars';

footer.site-footer {
    @less-dark: lighten(@dark, 60%);
    background-color: @dark;
    color: white;

    .content {
        .container;

        a {
            color: @contrast;
            text-decoration: none;

            &:hover {
                color: @contrast-hover;
                text-decoration: none;
            }
        }

        .bio-picture {
            @picture-max-width: 115px;
            text-align: center;

            img {
                border-radius: 100%;
                border: solid white 3px;
                width: 100%;

                max-width: @picture-max-width;
                max-height: @picture-max-width;
            }

            nav {
                @icon-padding: 20px;

                display: block;
                margin-top: 10px;
                min-width: 25px;

                p {
                    display: inline;
                }

                a {
                    padding-left: @icon-padding;

                    .fa {
                        font-size: 2.2rem;
                        text-shadow: 2px 2px 2px black;

                        &:hover {
                            text-shadow: 1px 1px 2px black;
                        }
                    }

                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
        }

        .bio {
            @media (max-width: 900px) {
                margin-top: 10px;
            }

            @media (max-width: @concrete-stop) {
                text-align: justify;
            }
        }


    }
}
