/**
 * Styles for the projects page.
 */

.index-list.projects {
    @image-size: 100px;
    @light-gray: lighten(@dark, 50%);

    li {
        .responsive-padding;
        text-align: center;

        .description {
            text-align: justify;

            @media (max-width: @concrete-stop) {
                border: none;
                padding-left: 0;
            }
        }
    }

    .project-picture {
        border-radius: 100%;
        border: solid @light-gray 4px;
        display: block;
        height: @image-size;
        margin: auto;
        padding: 10px;
        width: @image-size;
    }

    .relate {
        font-size: 56px;
        line-height: @image-size;
        text-align: center;
    }

    .title {
        margin-top: 10px;

        a {
            border-bottom: solid @light-gray 3px;
            padding: 5px 20px;
            padding-bottom: 0;
        }
    }

}
