@import '_blog';
@import '_code';
@import '_colors';
@import '_footer';
@import '_header';
@import '_projects';
@import '_util';
@import '_vars';

html {
    font-family: 'Ubuntu Light';
}

body {
    color: @dark;
    font-size: @font-size;
    margin: 0;
    line-height: 1.4;
}

p, ul, li, ol {
    .with-max-width;
}

a {
    color: @contrast;
    text-decoration: none;

    &:hover {
        color: @contrast-hover;
        text-decoration: none;
    }
}

.under-construction {
    font-size: 48px;
    text-align: center;
}

.header {
    .horizontal-bar(@dark);
    position: relative;

    .content {
        .container;
    }

    .title {
        font-size: 36px;
        margin: 0;
    }

    .description {
        margin-bottom: 0;
        color: darken(white, 20%);
    }
}

.index-list {
    padding-left: 0px;

    li {
        list-style: none;
        padding-bottom: 40px;
        padding-top: 40px;

        p {
            margin: 0;
        }

        .title {
            color: @contrast;
            font-size: 32px;
            margin-bottom: 10px;
        }

        .description {
            border-left: solid @dark 3px;
            padding-left: 20px;
        }
    }
}
