<footer class="site-footer">
    <div class="content">
        <div class="row">
            <div class="two columns">
                <div class="bio-picture">
                    <img src="{{ site.url }}/assets/img/mark-siebert-color-180x180.png" />
                    <nav class="footer-links">
                        <p>
                            <a href="https://github.com/msiebert"><i class="fa fa-github-alt"></i></a>
                            <a href="https://www.linkedin.com/in/markjialisiebert"><i class="fa fa-linkedin-square"></i></a>
                        </p>
                    </nav>
                </div>
            </div>
            <div class="ten columns">
                <p class="bio">
                    Hi, I'm Mark! I'm a cofounder and full stack software engineer at <a href="https://www.bluematador.com">Blue Matador</a>. On the rare occasion where I'm not working, I love to cook with my wife, geek out over Brandon Sanderson's Cosmere, and chase Minecraft chickens. I don't really believe in social media, but you can check me out on <a href="https://github.com/msiebert">Github</a> or <a href="https://www.linkedin.com/in/markjialisiebert">LinkedIn</a> (which I hate, but people tell me it's important).
                </p>
            </div>
        </div>
    </div>
</footer>
