<footer class="site-footer">
    <div class="content">
        <div class="bio-picture">
            <img src="{{ site.url }}/assets/img/mark-siebert-color-180x180.png" />
            <nav>
                <a href="https://github.com/msiebert"><i class="fa fa-github-alt"></i></a>
                <a href="https://www.linkedin.com/in/markjialisiebert"><i class="fa fa-linkedin-square"></i></a>
            </nav>
        </div>
        <p class="bio">
            Hi, I'm Mark! By day, I'm a backend software engineer working for <a href="https://www.golucid.co">Lucid Software</a>. By night, I'm a husband, a <a href="https://lds.org">Mormon</a>, and a baker. Sometimes I code then too, cause apparently I like my profession. I don't really believe in social media, but you can check me out on <a href="https://github.com/msiebert">Github</a> or <a href="https://www.linkedin.com/in/markjialisiebert">LinkedIn</a> (which I hate, but people tell me it's important).
        </p>
    </div>
</footer>
