<footer class="site-footer">
    <div class="content">
        <div class="row">
            <div class="two columns">
                <div class="bio-picture">
                    <img src="{{ site.url }}/assets/img/me.jpeg" />
                    <nav class="footer-links">
                        <p>
                            <a href="https://github.com/msiebert"><i class="fa fa-github-alt"></i></a>
                            <a href="https://www.linkedin.com/in/markjialisiebert"><i class="fa fa-linkedin-square"></i></a>
                        </p>
                    </nav>
                </div>
            </div>
            <div class="ten columns">
                <p class="bio">
                    Hi, I'm Mark! I'm an Engineering Manager at <a href="https://www.sharethrough.com/">Sharethrough</a>, where I work on the Marketplace Dynamics and MLOps team. When I'm not working, I love to cook with my wife, geek out over Brandon Sanderson's Cosmere, and feed really badly in League of Legends. Connect with me on <a href="https://github.com/msiebert">Github</a> or <a href="https://www.linkedin.com/in/markjialisiebert">LinkedIn</a>.
                </p>
            </div>
        </div>
    </div>
</footer>
