@import url(https://fonts.googleapis.com/css?family=Roboto:700italic,300,700,300italic);
article.post .social-buttons {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
article.post .social-buttons a {
  padding-left: 10px;
}
article.post .social-buttons a:first-child {
  padding-left: 0;
}
@media (max-width: 1250px) {
  article.post .social-buttons {
    right: 40px;
  }
}
@media (max-width: 500px) {
  article.post .social-buttons {
    top: 46px;
    transform: none;
  }
}
article.post .post-content {
  padding: 50px 0px;
}
@media (max-width: 1250px) {
  article.post .post-content p {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 625px) {
  article.post .post-content p {
    padding-left: 40px / 2;
    padding-right: 40px / 2;
  }
}
article.post .post-content img {
  display: block;
  margin: 40px auto;
  padding: 10px;
  box-shadow: 1px 1px 8px gray;
  max-width: 95%;
}
article.post .header.comments .title {
  font-size: 2rem;
}
article.post .header.comments .description {
  margin-top: 5px;
}
article.post #disqus_thread {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0px;
}
@media (max-width: 1250px) {
  article.post #disqus_thread {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 625px) {
  article.post #disqus_thread {
    padding-left: 40px / 2;
    padding-right: 40px / 2;
  }
}
article.post #disqus_thread .row {
  min-width: 0;
}
.blog .posts li.post .publish-date .day {
  font-size: 1.8rem;
}
.blog .posts li.post .publish-date .year {
  font-size: 1rem;
}
@media (max-width: 1200px) {
  .blog .posts li.post .publish-date .day {
    font-size: 1.6rem;
  }
  .blog .posts li.post .publish-date .month {
    font-size: 1.2rem;
  }
}
@media (max-width: 937.5px) {
  .blog .posts li.post .publish-date .day {
    font-size: 1.4rem;
  }
  .blog .posts li.post .publish-date .month {
    font-size: 1.1rem;
  }
}
.blog .posts li.post .content .tags {
  border-left-color: #ff3333;
  color: #ff3333;
}
@media (max-width: 768px) {
  .blog .index-list li .columns {
    float: left;
  }
  .blog .index-list li .content {
    padding-left: 20px;
    width: 80%;
  }
}
/**
 * This less file contains all the styling for code snippets.
 */
.highlight {
  background-color: #2c2c2c;
  color: white;
  margin: 40px 0px;
}
.highlight pre {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0px;
  position: relative;
  color: #fff;
}
@media (max-width: 1250px) {
  .highlight pre {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 625px) {
  .highlight pre {
    padding-left: 40px / 2;
    padding-right: 40px / 2;
  }
}
.highlight pre .row {
  min-width: 0;
}
.highlight pre::before {
  border-radius: 100%;
  border: solid #ff3333 3px;
  box-shadow: 0px 0px 10px 2px #330000;
  left: -200px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100px;
  color: #ff3333;
  content: 'ç¢¼';
  font-size: 70px;
  height: 100px;
  margin-top: calc(-100px / 2 - 20px);
  text-shadow: 1px 4px 6px #000000, 0 0 0 #000, 1px 4px 6px #000000;
  padding: 20px;
}
@media (max-width: 1620px) {
  .highlight pre::before {
    display: none;
  }
}
.highlight pre code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}
.highlight pre .k,
.highlight pre .kd {
  color: #ff6666;
}
.highlight pre .s,
.highlight pre .s1 {
  color: #ff3333;
}
.highlight pre .cm,
.highlight pre .c1 {
  color: #aaa;
}
.highlight pre .mi,
.highlight pre .kc {
  color: #ff3333;
}
.highlight pre .nt {
  color: #ff3333;
}
/**
 * This less file contains the colors used in the site.
 */
/** Styles for the site footer */
footer.site-footer {
  background-color: #2c2c2c;
  color: white;
}
footer.site-footer .content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0px;
}
@media (max-width: 1250px) {
  footer.site-footer .content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 625px) {
  footer.site-footer .content {
    padding-left: 40px / 2;
    padding-right: 40px / 2;
  }
}
footer.site-footer .content .row {
  min-width: 0;
}
footer.site-footer .content a {
  color: #ff3333;
  text-decoration: none;
}
footer.site-footer .content a:hover {
  color: #ff6666;
  text-decoration: none;
}
footer.site-footer .content .bio-picture {
  text-align: center;
}
footer.site-footer .content .bio-picture img {
  border-radius: 100%;
  border: solid white 3px;
  width: 100%;
  max-width: 115px;
  max-height: 115px;
}
footer.site-footer .content .bio-picture nav {
  display: block;
  margin-top: 10px;
  min-width: 25px;
}
footer.site-footer .content .bio-picture nav p {
  display: inline;
}
footer.site-footer .content .bio-picture nav a {
  padding-left: 20px;
}
footer.site-footer .content .bio-picture nav a:first-child {
  padding-left: 0;
}
@media (max-width: 900px) {
  footer.site-footer .content .bio {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  footer.site-footer .content .bio {
    text-align: justify;
  }
}
/**
 * Styles for the site header.
 */
header.site-header {
  position: relative;
}
header.site-header .content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0px;
}
@media (max-width: 1250px) {
  header.site-header .content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 625px) {
  header.site-header .content {
    padding-left: 40px / 2;
    padding-right: 40px / 2;
  }
}
header.site-header .content .row {
  min-width: 0;
}
header.site-header .logo-container {
  display: inline-block;
  height: 127px;
  padding-right: 50px;
  width: 125px;
}
header.site-header .logo-container .logo {
  height: 106.25px;
  width: 125px;
  display: inline;
}
header.site-header .logo-container a {
  text-decoration: none;
  color: #2c2c2c;
}
header.site-header .logo-container a:hover {
  text-decoration: none;
  color: #2c2c2c;
}
header.site-header .logo-container h3 {
  display: block;
  font-size: 1rem;
  letter-spacing: 6px;
  line-height: 1rem;
  margin-top: 5px;
  text-align: center;
  width: 125px;
}
@media (max-width: 625px) {
  header.site-header .logo-container {
    display: block;
    margin: auto;
    padding: 0;
  }
  header.site-header .logo-container h3 {
    width: auto;
  }
}
header.site-header nav {
  float: right !important;
  line-height: 127px;
}
header.site-header nav a {
  color: #2c2c2c;
  font-size: 1.8rem;
  margin-left: 30px;
  text-decoration: none;
  vertical-align: bottom;
}
header.site-header nav a:first-child {
  margin-left: 0;
}
@media (max-width: 625px) {
  header.site-header nav {
    display: block;
    float: none !important;
    line-height: normal;
    margin-top: 40px;
    text-align: center;
  }
  header.site-header nav a {
    font-size: 1.5rem;
  }
}
/**
 * Styles for the projects page.
 */
.index-list.projects li {
  text-align: center;
}
@media (max-width: 1250px) {
  .index-list.projects li {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 625px) {
  .index-list.projects li {
    padding-left: 40px / 2;
    padding-right: 40px / 2;
  }
}
.index-list.projects li .description {
  text-align: justify;
}
@media (max-width: 768px) {
  .index-list.projects li .description {
    border: none;
    padding-left: 0;
  }
}
.index-list.projects .project-picture {
  border-radius: 100%;
  border: solid #acacac 4px;
  display: block;
  height: 100px;
  margin: auto;
  padding: 10px;
  position: relative;
  width: 100px;
}
.index-list.projects .blue-matador img,
.index-list.projects .relate img,
.index-list.projects .cumulus img {
  width: 80%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10%;
}
.index-list.projects .sharethrough img {
  border-radius: 30px;
  height: 100%;
  width: 100%;
}
.index-list.projects .cumulus {
  background-color: #0f3542;
}
.index-list.projects .title {
  margin-top: 10px;
}
.index-list.projects .title a {
  border-bottom: solid #acacac 3px;
  padding: 5px 20px;
  padding-bottom: 0;
}
/**
 * This less file contains a utility mixins to be used in other files.
 */
.with-max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
@media (max-width: 1250px) {
  .responsive-padding {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 625px) {
  .responsive-padding {
    padding-left: 40px / 2;
    padding-right: 40px / 2;
  }
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0px;
}
@media (max-width: 1250px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 625px) {
  .container {
    padding-left: 40px / 2;
    padding-right: 40px / 2;
  }
}
.container .row {
  min-width: 0;
}
/**
 * This less file contains the variables used throughout the site.
 */
html {
  font-family: 'Roboto';
}
body {
  color: #2c2c2c;
  font-size: 1.3rem;
  margin: 0;
  line-height: 1.4;
}
body .fa {
  font-size: 2.2rem;
  text-shadow: 2px 2px 2px black;
}
body .fa:hover {
  text-shadow: 1px 1px 2px black;
}
p,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}
@media (max-width: 1250px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 625px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-left: 40px / 2;
    padding-right: 40px / 2;
  }
}
a {
  color: #ff3333;
  text-decoration: none;
}
a:hover {
  color: #ff6666;
  text-decoration: none;
}
.header {
  background-color: #2c2c2c;
  color: white;
  position: relative;
}
.header .content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0px;
  position: relative;
}
@media (max-width: 1250px) {
  .header .content {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 625px) {
  .header .content {
    padding-left: 40px / 2;
    padding-right: 40px / 2;
  }
}
.header .content .row {
  min-width: 0;
}
.header .title {
  font-size: 2.4rem;
  margin: 0;
}
.header .description {
  margin-bottom: 0;
  color: #cccccc;
}
.index-list {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0px;
  min-height: 300px;
  padding-left: 0px;
}
@media (max-width: 1250px) {
  .index-list {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 625px) {
  .index-list {
    padding-left: 40px / 2;
    padding-right: 40px / 2;
  }
}
.index-list .row {
  min-width: 0;
}
.index-list .six.columns {
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 768px) {
  .index-list .six.columns {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.index-list li {
  list-style: none;
  padding-bottom: 40px;
  padding-top: 40px;
}
.index-list li p {
  margin: 0;
}
.index-list li .title {
  color: #ff3333;
  font-size: 2rem;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .index-list li .title {
    font-size: 1.8rem;
  }
}
@media (max-width: 937.5px) {
  .index-list li .title {
    font-size: 1.6rem;
  }
}
.index-list li .description {
  border-left: solid #2c2c2c 3px;
  padding-left: 20px;
}
