<html>
    <head>
        <title>Binary Nirvana - {{ page.title }}</title>
        <meta name="author" content="Mark Siebert">
        <meta itemprop="name" content="{{ page.metaname }}">
        <meta itemprop="description" content="{{ page.description }}">
        <meta itemprop="image" content="{{ site.domain }}assets/img/{{ page.image }}">
        <link href='/assets/css/site.css' rel='stylesheet' type='text/css'>
        <link href='/assets/css/concrete.css' rel='stylesheet' type='text/css'>
        <link href='/assets/fonts/font-awesome-4.3.0/css/font-awesome.min.css' rel='stylesheet' type="text/css">
        <link rel="icon" type="image/png" href="/assets/img/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#f33">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        {% include header.html %}
        {{ content }}
        {% include footer.html %}
    </body>
</html>
