<html>
    <head>
        <title>Binary Nirvana - {{ page.title }}</title>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
        <link href='{{ site.url }}/assets/css/site.css' rel='stylesheet' type='text/css'>
        <link href='{{ site.url }}/assets/fonts/font-awesome-4.3.0/css/font-awesome.min.css' rel='stylesheet' type="text/css">
    </head>
    <body>
        {% include header.html %}
            {{ content }}
        {% include footer.html %}
    </body>
</html>
