---
layout: main
---
<article class="post">
    <header class="header">
        <div class="content">
            <h1 class="title">{{ page.title }}</h1>
            <p class="description">{{ page.description }}</p>
        </div>
    </header>
    <div class="post-content">
        {{ content }}
    </div>

    <header class="header comments">
        <div class="content">
            <h1 class="title">Comments</h1>
            <p class="description">Let me know what you think!</p>
        </div>
    </header>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'binarynirvana';
        var disqus_identifier = '{{ page.url }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>
